@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* General Styling */

.expanded {
  display: unset;
}

.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
}

.hero {
  font-family: 'Bebas Neue', sans-serif;
}

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links a,
.footer-links a {
  margin-right: 10px;
}

/* Light Mode Styling */

html {
  background-color: white;
  color: black;
}

a {
  color: black;
}

.hamburger .line {
  background-color: black;
}

.nav-links {
  background-color: black;
}

.nav-links a:hover,
a:focus {
  background-color: white;
  color: black;
}

/* Dark Mode Styling */

html.dark {
  background-color: black;
  color: #fff;
}

.dark .nav-links a {
  color: #fff;
}

.dark .hamburger .line {
  background-color: white;
}

.dark .nav-links {
  background-color: white;
}

.dark .nav-links a:hover,
a:focus {
  background-color: black;
  color: white;
}

/* Responsive Styling */

@media screen and (min-width: 636px) {
  .hamburger {
    display: none;
  }

  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }
}
