@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* General Styling */

header {
  position: fixed;
  width: 95vw;
}

nav {
  display: flex;
  justify-content: space-between;
}

.expanded {
  display: unset;
  display: none;
}

.hamburger {
  cursor: pointer;
  margin-right: 20px;
  margin-top: 40px;
}

.hamburger .line {
  display: block;
  height: 2px;
  margin-bottom: 8px;
  border-radius: 2px;
  width: 40px;
}

.hero {
  font-family: 'Bebas Neue', sans-serif;
  margin: auto;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  text-align: right;
  width: 85%;
}

.hero h1, h2 {
  margin: 0;
}

.hero h1 {
  font-size: 4em;
  line-height: 1;
}

.hero h2 {
  font-size: 1.4em;
  line-height: 1;
}

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links a,
.footer-links a {
  margin-right: 10px;
}

.view-container {
  height: 100vh;
  width: 100vw;
}

/* Light Mode Styling */

html {
  background-color: white;
  color: black;
}

a {
  color: black;
}

.hamburger .line {
  background-color: black;
}

.nav-links a:hover,
a:focus {
  background-color: white;
  color: black;
}

/* Dark Mode Styling */

html.dark {
  background-color: black;
  color: #fff;
}

.dark .nav-links a {
  color: #fff;
}

.dark .hamburger .line {
  background-color: white;
}

.dark .nav-links a:hover,
a:focus {
  background-color: black;
  color: white;
}

/* Responsive Styling */

@media screen and (min-width: 636px) {
  .hamburger {
    display: none;
  }

  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }
}
