---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Maxwell Croy || Software Engineer</title>
		<style>
			body {
				background-color: black;
				color: white;
			}
			a {
				color: white;
			}
		</style>
	</head>
	<body>
		<h1>Maxwell Croy || Software Engineer</h1>
		<p>Site in Progress</p>
		<h2>Check me out on:</h2>
		<ul>
			<li><a href="https://www.linkedin.com/in/maxwellhcroy/">LinkedIn</a></li>
			<li><a href="https://github.com/maxcroy1">GitHub</a></li>
		</ul>
	</body>
</html>
