---

---

<div class='view-container'>
  <div class='about'>
    <h1>About Me</h1>
    <p>
      I'm a software engineer from Santa Fe, New Mexico, now based in Austin,
      Texas. In 2016, I kicked off my career in tech after graduating from
      Tulane University with a dual B.S.M. in Marketing and Management. Three
      years later, I embraced my passion for building well-designed solutions
      for complex problems and attended Flatiron School to complete their
      Software Engineering Bootcamp.
    </p>
    <p>
      Today, I'm a Software Engineer with almost four years of fullstack
      experience specializing in helping series stage startups scale their
      products for success at critical moments for growth. I've led engineering
      teams, headed feature and UI development, and have built a reputation for
      leveraging my background in business to further engineering goals and
      directives.
    </p>
    <p>
      Currently, I'm on the hunt for my next challenge — be it a full-time
      position or intriguing contract work. If my blend of business and tech
      resonates with you, let's chat.
    </p>
  </div>
</div>
